# ---------------------------------------------------------
# PAWBBY REBORN - ENVIRONMENT CONFIGURATION
# ---------------------------------------------------------

# Set to "true" if you are developing or if you do not want
# the built-in update checker to overwrite your files via upgrade.sh
DISABLE_UPDATES="false"

# Strict Webhook Security
# If "true", the server will ONLY allow webhooks to known, secure domains
# (Discord, Slack, Telegram). If "false", it allows local network IP addresses
# (e.g. for Home Assistant or a local ntfy.sh instance).
WEBHOOK_STRICT_MODE="false"

# SQLite Database Location
# By default, Prisma creates this file in the `prisma` folder (i.e. prisma/dev.db).
# You can change this path if you are running in Docker or
# prefer the database to be stored elsewhere (e.g. "file:/mnt/data/dev.db")
DATABASE_URL="file:./dev.db"